html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

hr {
  width: 90%;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.header {
  width: 100%;
  min-height: 100vh;
  color: white;
  background-image: url(../assets/img/bg-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  
}

.bg-black-opacity{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(34, 34, 34, 0.5);
  z-index: 10;
}

.header .container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  text-align: center;
  z-index: 20;
}

.btns {
  position: relative;
  width: 50px;
  height: 50px;
}

.btns span {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.header h2 {
  font-size: 4rem;
  font-family: "Sacramento", cursive;
}
.header h3 {
  font-size: 3rem;
  font-family: "Sacramento", cursive;
}

.header p {
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-style: italic;
}

.header .descripcion {
  padding-bottom: 2rem;
}

.header i {
  font-size: 3rem;
  cursor: pointer;
}

main {
  flex: 1;
}

.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}

.container-img {
  margin: 1rem auto;
  width: 300px;
  height: 350px;
  overflow: hidden;
  border: solid white thin;
  opacity: 0;
}

.foto-1,
.foto-4 {
  aspect-ratio: 1/2;
}

.contador {
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.contador > h3 {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
  word-spacing: 0.25rem;
  opacity: 0;
}

.contador > p {
  margin-bottom: -1rem;
}

.div-img {
  width: 300px;
  height: 300px;
  position: relative;
  opacity: 0;
}

.grid-contador {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 150px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
  "t t t t t t t"
  "nd p1 nh p2 nm p3 ns"
  "td . th . tm . ts";
  justify-content: center;
  align-items: center;
  
}

.title-contador {
  grid-area: t;
}
.num-dias {
  grid-area: nd;
}
.puntos-1 {
  grid-area: p1;
}
.num-hs {
  grid-area: nh;
}
.puntos-2 {
  grid-area: p2;
}
.num-min {
  grid-area: nm;
}
.puntos-3 {
  grid-area: p3;
}
.num-seg {
  grid-area: ns;
}
.text-dias {
  grid-area: td;
}
.text-hs {
  grid-area: th;
}
.text-min {
  grid-area: tm;
}
.text-seg {
  grid-area: ts;
}

.grid-contador h3 {
  font-size: 1.25rem;
  font-family: "Sacramento", cursive;
}

.informacion {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  opacity: 0;
}

.informacion h3 {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
}
.informacion h4 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.informacion a {
  display: block;
  background-color: white;
  padding: 1rem 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #222;
}

.regalo {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  opacity: 0;
}

.regalo h3 {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
}

.regalo p {
  line-height: 2rem;
}
.regalo h4 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding: 1rem 0.5rem;
  border: solid thin white;
}

.btns span {
  transition: opacity 0.15s linear;
}

.mensaje-copiado {
  color: #25d366;
  font-weight: bold;
}

.asistencia {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  opacity: 0;
}

.asistencia h3 {
  font-size: 2rem;
  font-family: "Sacramento", cursive;
}

.asistencia p {
  line-height: 2rem;
}

.btn-contacto {
  display: block;
  background-color: #25d366;
  padding: 1rem 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  letter-spacing: 0.15rem;
}

.invitacion h2 {
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  padding: 1rem 0;
  text-align: center;
}

.footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 0.5rem;
}

@keyframes escalar {
  0%{
    transform: scale(0.1);
    opacity: 0;
  }
  75%{
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes escalar-2 {
  0%{
    transform: scale(0.1);
    opacity: 0;
  }
  75%{
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes desplazar-abajo {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes desplazar-arriba {
  0% {
    display: none;
    transform: translateY(-100%);
  }
  100%{
    display: block;
    transform: translateY(0%);
  }
}
@keyframes desplazar-derecha-izquierda {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes desplazar-izquierda-derecha {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
